<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <link rel="stylesheet" href="css/skelton/normalize.css">
  <link rel="stylesheet" href="css/skelton/skeleton.css">
  <link rel="stylesheet" href="css/index.css">
  <title>Hello World!</title>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
  <script src="audio/p5.sound.js"></script>
</head>

<body>
  <div class="">
    <div class="row">
      <!-- <img src="app_bg/ironman_left_side.jpg" class="side-panel-img" alt=""> -->
      <img class="starklogo" src="app_bg/starklogo.png" alt="" srcset="">
      <div class="twelve columns">
        <div class="center-piece-wrappper">
          <p class="arc-reactor-image-wrapper"><img class="arc-reactor-image" src="app_bg/arc_reactor_cropped.gif"
              alt=""></p>
          <p class="voice-image-wrapper"><img id="voice-image" class="voice-image" src="app_bg/voice_overlay_img.gif"
              alt=""></p>
        </div>
      </div>
    </div>
  </div>
  <script src="audio/sketch.js"></script>
</body>

</html>